.backdrop {
        background-color: #f9d0bd;
        border-color: #151920;
}


.spacer {
  margin-top:26px;
}

a {
  
  text-decoration:none;font-style:italic;color:#250404;
}

.clear { clear: both; }

.ourlass{ height: 100%; }